[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/tokenbridge-contracts.git"]
	path = lib/tokenbridge-contracts.git
	url = https://github.com/Luigy-Lemon/tokenbridge-contracts.git
